/* #region Global Styles */
*, *:after, *:before {
   box-sizing: border-box;
}
html {
   background: #c2b2b4;
}
body {
   font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, p, span, ul, li {
}
a, button, input, label {
   cursor: pointer;
   outline: none;
   text-decoration: none;
   transition:all .5s ease-in-out;
}
input {
   outline: none;
}
h4 {
   color:#7C7879;
}
p {
   color: #7C7879;
   font-size: 1.1em;
   line-height: 1.4;
   margin: 0;
   outline: none;
}
button {
   background: none;
   border:none;
   padding: 0;
   pointer-events: all;
}
button:disabled {
   background-color: #462d30;
   color:#828282;
   pointer-events: none;
}
img {
   width:100%;
}
fieldset {
   border: none;
}
footer {
   margin: 1em 0;
}
input {
   cursor: auto;
}
/* #endregion Global Styles */

/* #region START Nav Bar */
.top_container {
  background-color:#3e2a35;
}

.header_container {
   padding-top: 2em;
}
.nav--container {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin: auto;
   max-width: 1400px;
   padding: 0 2em;
   width: 100%;
}
.aside--nav_bar {
   flex-grow: 1;
}
.main_title {
   align-items: center;
   color: #fff;
   display: flex;
   font-size: 2.5em;
   justify-content: flex-start;
   line-height: 1;
   margin: 0;
   text-transform: uppercase;
}
.main_title .inner--title_img {
   color:#fff;
   padding: 0 5px;
}
.inner--title_img img {
   max-width: 55px;
}
.search-bar {
   border: none;
   margin-left: auto;
   max-width: 250px;
   padding: 0;
   position: relative;
   width: 100%;
}
.searchTerm {
   border-radius: 5px;
   border: 2px solid #c2b2b4;
   color: #93868b;
   outline: none;
   padding: 5px 10px;
   position: relative;
   right: 30px;
   width: 100%;
}
.searchTerm:focus{
   color: #93868b;
}
.searchButton {
   background: #c2b2b4;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
   border: none;
   color: #fff;
   cursor: pointer;
   font-size: 20px;
   height: 32px;
   outline: none;
   position: absolute;
   right: 0;
   text-align: center;
   top: 0px;
   width: 34px;
}
.searchButton:hover {
   background: #B2A1B1;
}
.submit-btn:hover, .filter-btn:hover {
   background-color: #524649;
   pointer:cursor;
}
.searchButton .fa-search {
   outline: none;
}
/* #endregion Nav Bar */

/* #region Form Area */
.input_container {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   max-width: 860px;
   padding: 2em;
}
.fieldset--container {
   margin-top: 1em;
   margin: 0;
   padding: 0;
   width: 100%;
}
.inputs {
   border: none;
   display: block;
   margin-top: .6em;
   padding: 1em;
   width: 100%;
}
.label-spacing {
   color: #c2b2b4;
   font-size: 1em;
   font-weight: 600;
   letter-spacing: .02em;
   line-height: 1;
}
.show-cards {
   background-color: #fff;
   border-radius: 5px;
   border: #6E646B solid 3px;
   color: #6E646B;
   display: block;
   font-size: 1em;
   font-weight: bold;
   margin: 0 auto;
   padding: .4em 1.5em;
}
.clear-localStorage {
   background-color: #6E646B;
   border-radius: 5px;
   color: #FFFFFF;
   font-size: 1.3em;
   font-weight: bolder;
   height: 43px;
   margin-bottom: 23px;
   width: 25%;
}
.field_btn {
   background-color: #5b4447;
   color: #FFFFFF;
   cursor: pointer;
   font-size: 1em;
   padding: 1em 0em;
   width: 45%;
}
#more-btn {
   background-color: rgba(152, 126, 129, .6);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom: #5b4447 solid 2px;
   border-left: #5b4447 solid 2px;
   border-right: #5b4447 solid 2px;
   color: #5b4447;
   font-weight: bold;
   letter-spacing: .02em;
   margin: 0 auto;
   margin: auto;
   padding: .5em;
   width: 200px;
}
#more-btn:hover {
   color:#fff;
   background-color: #5b4447;
}
.fieldset--buttons {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.field_btn:hover {
   background-color: #462d30;
}
.choose-btn {
   margin: 2em 0;
   text-align: center;
   width: 100%;
}
input[type="file"] {
   display: none;
}
.custom-btn {
   cursor: pointer;
}

/* #endregion Form Area */

/* #region START Photo Feed */
.photo_container {
   margin: 0 auto;
   max-width: 1100px;
   padding: 2em;
   width: 100%;
}
.photo_feed {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.photo_card {
   -webkit-transition: opacity 500ms linear;
   background: #fff;
   border: #938284 solid 2px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 1%;
   opacity: 1;
   transition: opacity 500ms linear;
   width: 23%;
}
.card_photo_head h2 {
   color:#3e2a35;
   font-size: 1.2em;
   font-weight: 600;
   margin:0;
   outline:none;
}
.card_photo_copy p {
   color: #3e2a35;
   font-size: .9em;
   font-weight: 600;
   line-height: 1.2;
}
.card_photo_footer {
   align-items: center;
   background: #5b4447;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.card_photo_footer img {
   width: 25px;
}
.card-space {
   padding:10px;
}
.photo-alert {
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}
/* #endregion END Idea Feed */

/* #region START Media Queries */
@media screen and (max-width: 860px) {
   .photo_card {
       width: 48%;
  }
}
@media screen and (max-width: 680px) {
   .nav--conatiner {
       display: block;
       padding: 1.2em;
  }
   .h1--main_title {
       margin:0;
  }
   .main_title {
       font-size: 2em;
  }
   .inner--title_img img {
       max-width: 46px;
  }
   .searchTerm {
       right:0px;
  }
   .section_wrapper {
       padding: 1.5em
  }
}
@media screen and (max-width: 550px) {
   .nav--container {
       flex-direction: column;
  }
   .aside--nav_bar {
       width: 100%;
  }
   .aside--nav_bar:first-child {
       margin-bottom: 1em;
  }
   .inner--title_img img {
       max-width: 67px;
  }
   .main_title {
       font-size: 11vw;
       justify-content: space-between;
  }
   .input_container {
       padding: 1em 2em 2em 2em;
  }
   .search-bar {
       max-width:100%;
  }
   .field_btn {
       font-size:13px;
       width: 45%;
  }
   .choose-btn {
       font-size:15px;
       width:100%;
  }
   .label-spacing {
       color: #827173;
  }
  .photo_card {
      width: 100%;
      margin: 4% 2%;
  }
  .photo_card:first-child {
      margin: 0% 2% 4% 2%;
  }
}
@media screen and (max-width: 340px) {
   .h1--main_title {
       font-size:2em;
  }
   .search-bar {
       max-width: 206px;
  }
}
/* #endregion END Media Queries */
